@font-face {
  font-family: "Philosopher";
  src: url("fonts/Philosopher-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
body{
  margin:0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.d-none{
  display: none;
}
main{
  padding: 100px;
  color: #342C23;
}
.breadcrumbs{
  margin-bottom: 30px;
  a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #342C23;
  }
  .activ{
    color: #BEA183;
  }
}
.measurements{
  font-family: Montserrat;
  h2{
    text-transform: uppercase;
    text-align: center;
    font-family: Philosopher;
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 70px;
    font-weight: 400;
  }
  p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
  .take-measurements{
    display: flex;
    width: 100%;
    justify-content: center;
    img{
      margin-right: 30px;
      width: auto;
    }
  }
  .form-take-measurements{
    min-width: 392px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    ul{
      list-style: none;
      margin: 0;
      li{
        margin: 4px 0;
        label{
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
    }
    .input-box{
      display: inline-block;
      text-align: center;
      padding: 2px 7px;
      margin-left: 10px;
      border: 1px solid #342C23;
      box-sizing: border-box;
      border-radius: 5px;
      input{
        width: 37px;
        height: 22px;
        border: none;
        background: url(../img/background-input.svg) center bottom no-repeat;
        background-size: auto;
        text-align: center;
        font-family: inherit;
        font-size: 18px;
        line-height: 22px;
      }
      input:focus{
        outline: none;
      }
    }
  }
  .form-submit-block{
    margin-top: 45px;
    width: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    .btn{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      display: flex;
      border-radius:  60px 5px 60px 5px;
      background: #BEA183;
      width: 252px;
      height: 40px;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
    }
  }
}
@media (max-width: 768px) {
  .take-measurements{
    flex-direction: column;
  }
  .measurements .take-measurements img {
    margin-right: 0;
    width: 100%;
  }
  .form-take-measurements{
    justify-content: center;

  }
  }
  @media (max-width: 320px) {
    main{
      padding: 20px;
    }
    ul{
      padding: 20px;
      font-size: 14px;
    }
    }
